body {
    background-color: rgb(66, 150, 139);
    display: flex;
    justify-content: center;
    padding: 200px;
}
.container {
    background-color: rgb(9, 92, 92);
    margin: 0;
    padding: 10px;
    border: 1px solid lightblue;
    box-sizing: border-box;
    position: relative;
    width: 50%;
    max-height: 90%;
    text-align: center;

}
.radioButtons{
    padding: 10px;
    font-size: 20px;
    color: black;
    
}
.greetingsButton{
    padding:10px
}
.greetNameBtn , .nameTextBox, .resetButton{
    border-radius:5em;
}
.counter{
    padding: 10px;
   color: white;
}
.myGreetings{
    text-transform: capitalize;
    padding: 10px;
}
.textBox  {
    padding: 30px;
}
.heading{
    padding: 10px;
    background-color: white;
    text-align: center;
}
.nameWarning, .languageWarning{
    color:red;
}
