body {
    background-color: rgba(238, 171, 149, 0.932);
    margin: 0;
    height: auto;
    box-sizing: border-box;
    width: 100%;
}
.heading{
text-align: center;
padding: 10px;
}
.container{
    text-align: center;
    margin: 0;
    padding: 10px;
    
    
}
.main,.btn,.greet
{
    padding: 10px;
}

